<h2>How should I invest during bear periods?</h2>
<p>Rough waters are for skilled sailors. During bear periods is best to
  tuck away your portfolio, and wait for friendlier times.</p>
<p>Or is it?</p>

<h3>Use AGG to have some return</h3>
<p>This is a simulation with the following components:</p>
<ul>
  <li>During Bull periods, invest in a fund tracking the S&amp;P500</li>
  <li>During Bear periods, invest in the <em>Aggregated Bonds USA</em>.</li>
  <li>Use different market timing to discriminate between Bull and Bear</li>
  <li>Start in 1996 with USD 100.000, and end in 2020.</li>
</ul>
<simulation start="1996-1-1" end="2020-1-1" quotes="SP500, AGG">
  <highcharts-report>
    <chart-report-configuration show="SP500.CLOSE"    showDataAs="LINE" showDataOn="LEFT"  normalize="true" ></chart-report-configuration>
    <chart-report-configuration show="AGG.CLOSE"      showDataAs="LINE" showDataOn="LEFT"  normalize="false"></chart-report-configuration>
    <chart-report-configuration show="PORTFOLIO.NAV"  showDataAs="LINE" showDataOn="LEFT"  normalize="true" ></chart-report-configuration>
  </highcharts-report>
  <accounts>
    <swiss-quote id="PORTFOLIO" cash="100000">
      <strategy>
        <buy-and-hold assetName="SP500" assetNameDuringBear="AGG">
          <market-timing>
            <candle-filter></candle-filter>
          </market-timing>
        </buy-and-hold>
      </strategy>
    </swiss-quote>
  </accounts>
</simulation>
