<div class="container">
  <h1>{{title}}</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/market-timing" routerLinkActive="active">Market Timing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/investing-in-bear" routerLinkActive="active">Investing in Bear</a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
