<h1>This is the home page</h1>
<h3>The S&amp;P500</h3>
<simulation start="2000-01-01" end="2020-08-17" quotes="SPY, SPYCHF, USDCHF">
  <reports>
    <highlight-report>
      <table border="1">
        <thead>
          <tr>
            <th>Duration</th>
            <th>Min (per year)</th>
            <th>Max (per year)</th>
            <th>Average</th>
            <th>Standard deviation</th>
        </thead>
        <tbody>
          <tr>
            <td>3 years</td>
            <td><highlight-min sourceName="ACC.P03"></highlight-min>% (<highlight-date-min sourceName="ACC.P03"></highlight-date-min>)</td>
            <td><highlight-max sourceName="ACC.P03"></highlight-max>% (<highlight-date-max sourceName="ACC.P03"></highlight-date-max>)</td>
            <td><highlight-avg sourceName="ACC.P03"></highlight-avg>%</td>
            <td>&plusmn;<highlight-std sourceName="ACC.P03"></highlight-std>%</td>
          </tr>
          <tr>
            <td>7 years</td>
            <td><highlight-min sourceName="ACC.P07"></highlight-min>% (<highlight-date-min sourceName="ACC.P07"></highlight-date-min>)</td>
            <td><highlight-max sourceName="ACC.P07"></highlight-max>% (<highlight-date-max sourceName="ACC.P07"></highlight-date-max>)</td>
            <td><highlight-avg sourceName="ACC.P07"></highlight-avg>%</td>
            <td>&plusmn;<highlight-std sourceName="ACC.P07"></highlight-std>%</td>
          </tr>
          <tr>
            <td>10 years</td>
            <td><highlight-min sourceName="ACC.P10"></highlight-min>% (<highlight-date-min sourceName="ACC.P10"></highlight-date-min>)</td>
            <td><highlight-max sourceName="ACC.P10"></highlight-max>% (<highlight-date-max sourceName="ACC.P10"></highlight-date-max>)</td>
            <td><highlight-avg sourceName="ACC.P10"></highlight-avg>%</td>
            <td>&plusmn;<highlight-std sourceName="ACC.P10"></highlight-std>%</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">Number of BULL/BEAR triggers: <highlight-max sourceName="MT.TRI"></highlight-max>
        </tfoot>
      </table>
    </highlight-report>
    <chart-report>
      <chart-report-configuration show="USDCHF.CLOSE"  showDataAs="LINE" showDataOn="LEFT"  normalize="true"  ></chart-report-configuration>
      <chart-report-configuration show="SPYCHF.CLOSE"  showDataAs="LINE" showDataOn="LEFT"  normalize="true"  ></chart-report-configuration>
      <chart-report-configuration show="SPY.CLOSE"  showDataAs="LINE" showDataOn="LEFT"  normalize="true"  ></chart-report-configuration>
      <chart-report-configuration show="ACC.NAV"      showDataAs="LINE" showDataOn="LEFT"  normalize="true"  ></chart-report-configuration>
      <chart-report-configuration show="MT.SUPERTHON" showDataAs="LINE" showDataOn="RIGHT" normalize="false" ></chart-report-configuration>
    </chart-report>
    <preprocessors>
      <performance-preprocessor source="ACC.NAV" over= "3" unitOfTime="YEAR" output="ACC.P03"></performance-preprocessor>
      <performance-preprocessor source="ACC.NAV" over= "7" unitOfTime="YEAR" output="ACC.P07"></performance-preprocessor>
      <performance-preprocessor source="ACC.NAV" over="10" unitOfTime="YEAR" output="ACC.P10"></performance-preprocessor>
    </preprocessors>
  </reports>
  <accounts>
    <swiss-quote id="ACC" cash="100000">
      <strategy>
        <buy-and-hold assetName="SPYCHF">
          <market-timing>
            <candle-filter assetName="SPY"
                           id="MT"
                           on="SPY"
                           periods="13"
                           threshold="1"
                           periodLength="SEMIMONTHLY"></candle-filter>
             <stop-loss assetName="SPY"
                        id="SL"
                        status="BULL"
                        threshold="2"
                        safety="5"
                        recovery="0"></stop-loss>
          </market-timing>
        </buy-and-hold>
      </strategy>
    </swiss-quote>
  </accounts>
</simulation>

<h3>The SMI</h3>
<simulation start="2013-01-01" end="2020-07-17" quotes="SMI">
  <reports>
    <highlight-report>
      <table border="1">
        <thead>
          <tr>
            <th>Duration</th>
            <th>Min (per year)</th>
            <th>Max (per year)</th>
            <th>Average</th>
            <th>Standard deviation</th>
        </thead>
        <tbody>
          <tr>
            <td>3 years</td>
            <td><highlight-min sourceName="ACC.P03"></highlight-min>% (<highlight-date-min sourceName="ACC.P03"></highlight-date-min>)</td>
            <td><highlight-max sourceName="ACC.P03"></highlight-max>% (<highlight-date-max sourceName="ACC.P03"></highlight-date-max>)</td>
            <td><highlight-avg sourceName="ACC.P03"></highlight-avg>%</td>
            <td>&plusmn;<highlight-std sourceName="ACC.P03"></highlight-std>%</td>
          </tr>
          <tr>
            <td>7 years</td>
            <td><highlight-min sourceName="ACC.P07"></highlight-min>% (<highlight-date-min sourceName="ACC.P07"></highlight-date-min>)</td>
            <td><highlight-max sourceName="ACC.P07"></highlight-max>% (<highlight-date-max sourceName="ACC.P07"></highlight-date-max>)</td>
            <td><highlight-avg sourceName="ACC.P07"></highlight-avg>%</td>
            <td>&plusmn;<highlight-std sourceName="ACC.P07"></highlight-std>%</td>
          </tr>
          <tr>
            <td>10 years</td>
            <td><highlight-min sourceName="ACC.P10"></highlight-min>% (<highlight-date-min sourceName="ACC.P10"></highlight-date-min>)</td>
            <td><highlight-max sourceName="ACC.P10"></highlight-max>% (<highlight-date-max sourceName="ACC.P10"></highlight-date-max>)</td>
            <td><highlight-avg sourceName="ACC.P10"></highlight-avg>%</td>
            <td>&plusmn;<highlight-std sourceName="ACC.P10"></highlight-std>%</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">Number of BULL/BEAR triggers: <highlight-max sourceName="MT.TRI"></highlight-max>
        </tfoot>
      </table>
    </highlight-report>
    <chart-report>
      <chart-report-configuration show="SMI.CLOSE"  showDataAs="LINE" showDataOn="LEFT"  normalize="true"  ></chart-report-configuration>
      <chart-report-configuration show="ACC.NAV"      showDataAs="LINE" showDataOn="LEFT"  normalize="true"  ></chart-report-configuration>
      <chart-report-configuration show="MT.DIFF" showDataAs="LINE" showDataOn="RIGHT" normalize="true" ></chart-report-configuration>
    </chart-report>
    <preprocessors>
      <performance-preprocessor source="ACC.NAV" over= "3" unitOfTime="YEAR" output="ACC.P03"></performance-preprocessor>
      <performance-preprocessor source="ACC.NAV" over= "7" unitOfTime="YEAR" output="ACC.P07"></performance-preprocessor>
      <performance-preprocessor source="ACC.NAV" over="10" unitOfTime="YEAR" output="ACC.P10"></performance-preprocessor>
    </preprocessors>
  </reports>
  <accounts>
    <swiss-quote id="ACC" cash="100000">
      <strategy>
        <buy-and-hold assetName="SMI">
          <market-timing>
            <candle-filter assetName="SMI"
                           id="MT"
                           periods="13"
                           threshold="1"
                           periodLength="SEMIMONTHLY"></candle-filter>
            <!--ema-filter assetName="SMI"
                        id="MT"
                        fastPeriod="90"
                        slowPeriod="270"
                        periodLength="DAILY"></ema-filter-->
            <!--stop-loss assetName="SMI"
                       id="SL"
                       status="BULL"
                       threshold="91"
                       safety="5"
                       recovery="3"></stop-loss-->
          </market-timing>
        </buy-and-hold>
      </strategy>
    </swiss-quote>
  </accounts>
</simulation>
