<h2>What is the best market timing?</h2>
<p>Choosing the correct market timing is a great way to improve the yield
  of your <em>Buy and Hold</em> portfolio. For sure, buy and holds means
  that you put your money in, and you should not worry about it any more,
  until 30 years pass. However, backtesting shows that by selling in bear
  periods and buy in bull periods multiplies your return.</p>

<p>In each case I chose a well known index, and simulated what would happen
  if you invest a sum in 1996, and you apply the following strategies
  until 2020:</p>
<ul>
  <li>Pure buy and hold - You do absolutely nothing except waiting for your
    fortune to grow.</li>
  <li>Use candle filter</li>
  <li>Use EMA filter</li>
  <li>Use MACD filter</li>
</ul>

<p>As you can see, any market timing is better than no market timing.</p>

<h3>Use market timing filters against the S&amp;P500</h3>
<p>This is a simulation with the following components:</p>
<ul>
  <li>During Bull periods, invest in a fund tracking the S&amp;P500</li>
  <li>During Bear periods, sell the position and stay in cash</li>
  <li>Use different market timing to discriminate between Bull and Bear</li>
  <li>Start in 1996 with USD 100.000, and end in 2020.</li>
</ul>
<simulation start="2000-01-01" end="2020-4-9" quotes="SPY">
  <chart-report>
    <chart-report-configuration show="SPY.CLOSE" showDataAs="LINE" showDataOn="LEFT"  normalize="true" ></chart-report-configuration>
    <chart-report-configuration show="ACC.NAV"   showDataAs="LINE" showDataOn="LEFT"  normalize="true" ></chart-report-configuration>
    <chart-report-configuration show="ACC.P03"   showDataAs="LINE" showDataOn="LEFT"  normalize="true" ></chart-report-configuration>
    <chart-report-configuration show="ACC.P07"   showDataAs="LINE" showDataOn="LEFT"  normalize="true" ></chart-report-configuration>
    <chart-report-configuration show="ACC.P10"   showDataAs="LINE" showDataOn="LEFT"  normalize="true" ></chart-report-configuration>
    <chart-report-preprocessors>
      <sliding-performance source="ACC.NAV" over= "3" unitOfTime="YEAR" output="ACC.P03"></sliding-performance>
      <sliding-performance source="ACC.NAV" over= "7" unitOfTime="YEAR" output="ACC.P07"></sliding-performance>
      <sliding-performance source="ACC.NAV" over="10" unitOfTime="YEAR" output="ACC.P10"></sliding-performance>
    </chart-report-preprocessors>
  </chart-report>
  <accounts>
    <swiss-quote id="ACC" cash="100000">
      <strategy>
        <buy-and-hold assetName="SPY">
          <market-timing>
            <candle-filter id="CANDLE"
                           periods="12"
                           periodLength="MONTHLY"></candle-filter>
          </market-timing>
        </buy-and-hold>
      </strategy>
    </swiss-quote>
  </accounts>
</simulation>
