<h1>Momentum Strategy</h1>

<simulation start="2005-01-01" end="2008-01-01">
  <reports>
    <highcharts-report title="Momentum Strategy on S&P 500">
      <chart-report-configuration show="SP500.CLOSE"  showDataAs="LINE" showDataOn="LEFT"   ></chart-report-configuration>
      <chart-report-configuration show="ACC.NAV"      showDataAs="LINE" showDataOn="LEFT"   ></chart-report-configuration>
      <chart-report-annotation show="MT.BULL" color="blue"></chart-report-annotation>
      <chart-report-annotation show="MT.BEAR" color="red"></chart-report-annotation>
    </highcharts-report>
  </reports>
  <accounts>
    <swiss-quote id="ACC" cash="400000">
      <strategy>
        <momentum id = "ID100"
                  universeName = "SP500_UNIVERSE"
                  tradingDayOfTheWeek = "3"
                  momentumDistance = "90"
                  topOfIndex = "20"
                  maximumAcceptableGap = "0.15"
                  gapDistance = "100"
                  movingAverageDistance = "100"
                  averageTrueRangeDistance = "20"
                  maximumAtrPerPosition = "0.001"
                  smallestOperation = "400"
                  minimumCash = "10000"
                  startInvesting = "2007-01-01">
          <market-timing>
            <ema-filter id="MT"
                        assetName="SP500"
                        source="CLOSE"
                        periodicity="DAILY"
                        fastPeriod="0"
                        slowPeriod="200"
                        status="BEAR"></ema-filter>
          </market-timing>
        </momentum>
      </strategy>
    </swiss-quote>
  </accounts>
</simulation>
